@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto", sans-serif;
  background-color: #f8f7ff;
}

input,
button {
  font-family: inherit;
}

header,
main {
  text-align: center;
}

header {
  padding-block: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

#board {
  width: 600px;
  margin-inline: auto;
  margin-block: 1rem;
  padding-block: 1rem;
  background-color: #ffeedd;
}

.board-number {
  display: inline-block;
  vertical-align: middle;
  margin: 0.2rem;
  padding-block: 0.5rem;
  width: 50px;
  border-radius: 50%;
}

button {
  margin-top: 1rem;
  background-color: #9381ff;
  border: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: white;
}

#user {
  text-align: center;
  padding-block: 1rem;
}

.user-sheet {
  width: 350px;
  display: inline-block;
  margin-inline: 0.5rem;
  margin-bottom: 1rem;
  background-color: #b8b8ff72;
  padding-block: 0.5rem;
}

.user-sheet .board-number {
  width: 35px;
  padding-block: 0.5rem;
  font-size: 0.8rem;
}

#board .extracted {
  background-color: #ffd8be;
}

.user-sheet .extracted {
  background-color: #9381ff;
  color: white;
}

#extraction {
  display: none;
  margin-inline: auto;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100px;
  margin-inline: auto;
  text-align: center;
}

form span {
  font-size: 0.6rem;
  display: block;
  margin-top: 0.2rem;
}
